/composer.lock
/vendor
/node_modules
.eslintcache
.stylelintcache
/coverage
/jest-coverage
/tests/selenium/log
/resources/lib/.foreign/
/docs
/zobjectcache
/abstractcache
.vscode
.cursor
.env
CLAUDE.md
.claude
# Allow lede, and two sample items, ignore the rest
fixtures/wikidata/*
!fixtures/wikidata/Q319.json
!fixtures/wikidata/Q42.json
!fixtures/wikidata/Q8776414.json
