[BOT] Gerrit Code Review <gerrit@wikimedia.org>
[BOT] jenkins-bot <jenkins-bot@gerrit.wikimedia.org>
[BOT] Translation updater bot <l10n-bot@translatewiki.net>
[BOT] LibraryUpgrader <tools.libraryupgrader@tools.wmflabs.org>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Arthur P. Smith <arthurpsmith@gmail.com>
Cory Massaro <cmassaro@wikimedia.org>
DannyS712 <DannyS712.wiki@gmail.com>
DannyS712 <DannyS712.wiki@gmail.com> <dannys712.wiki@gmail.com>
DannyS712 <DannyS712.wiki@gmail.com> <DannyS712.enwiki@gmail.com>
Denny Vrandečić <dvrandecic@wikimedia.org>
Genoveva Galarza <ggalarzaheredero@wikimedia.org>
James D. Forrester <jforrester@wikimedia.org>
Lindsay Wardell <three060@gmail.com>
Lindsay Wardell <three060@gmail.com> <lindsay@thisdot.co>
