[BOT] Gerrit Code Review <gerrit@wikimedia.org>
[BOT] jenkins-bot <jenkins-bot@gerrit.wikimedia.org>
[BOT] Translation updater bot <l10n-bot@translatewiki.net>
[BOT] LibraryUpgrader <tools.libraryupgrader@tools.wmflabs.org>
[BOT] gerritbot <ladsgroup+gerritbot@gmail.com>
Adesoji <temitopeadesoji23@gmail.com>
Adesoji <temitopeadesoji23@gmail.com> <adesoji@thisdot.co>
Alexander Vorwerk <zabe@avorwerk.net>
Alexander Vorwerk <zabe@avorwerk.net> <alec@vc-celle.de>
Allan Jeremy <allan.jeremy@thisdot.co>
Amin Al Hazwani <aalhazwani@wikimedia.org>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Arthur P. Smith <arthurpsmith@gmail.com>
Bartosz Dziewoński <dziewonski@fastmail.fm>
Bartosz Dziewoński <dziewonski@fastmail.fm> <matma.rex@gmail.com>
Cory Massaro <cmassaro@wikimedia.org>
Dani de Waal <ddwaal-ctr@wikimedia.org>
Edmund Wright <edmund.wright@gmail.com>
Edmund Wright <edmund.wright@gmail.com> <ewright-ctr@wikimedia.org>
DannyS712 <DannyS712.wiki@gmail.com>
DannyS712 <DannyS712.wiki@gmail.com> <dannys712.wiki@gmail.com>
DannyS712 <DannyS712.wiki@gmail.com> <DannyS712.enwiki@gmail.com>
David Martin <dmartin@wikimedia.org>
Denny Vrandečić <dvrandecic@wikimedia.org>
Gabriel Lee <chihonglee777@gmail.com>
Genoveva Galarza <ggalarzaheredero@wikimedia.org>
Grace Choi <gchoi@wikimedia.org>
James D. Forrester <jforrester@wikimedia.org>
Julia Kieserman <jkieserman@wikimedia.org>
Lindsay Wardell <three060@gmail.com>
Lindsay Wardell <three060@gmail.com> <lindsay@thisdot.co>
Timo Tijhof <krinkle@fastmail.com>
Timo Tijhof <krinkle@fastmail.com> <krinklemail@gmail.com>
Simone Cuomo <simone@thisdot.co>
teleosteen <florent.git@zeteo.me>
