[BOT] Gerrit Code Review <gerrit@wikimedia.org>
[BOT] jenkins-bot <jenkins-bot@gerrit.wikimedia.org>
[BOT] Translation updater bot <l10n-bot@translatewiki.net>
[BOT] LibraryUpgrader <tools.libraryupgrader@tools.wmflabs.org>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Arthur P. Smith <arthurpsmith@gmail.com>
Denny Vrandečić <dvrandecic@wikimedia.org>
James D. Forrester <jforrester@wikimedia.org>
