services:
  function-orchestrator:
    image: docker-registry.wikimedia.org/repos/abstract-wiki/wikifunctions/function-orchestrator:latest
    # Un-comment this if you're using a local build, by running this in your check-out of the orchestrator:
    # docker build -f .pipeline/blubber.yaml --target development -t local-orchestrator .
    # image: local-orchestrator:latest
    ports:
      - 6254:6254
      - 9100:9100
    environment:
      WIKI_API_URL: "http://mediawiki-web:8080/w/api.php"
      WIKIDATA_API_URL: "https://www.wikidata.org"
      ORCHESTRATOR_CONFIG: |
        {
          "evaluatorConfigs": [
            {
              "programmingLanguages": [
                "Z610"
              ],
              "evaluatorUri": "http://mediawiki-function-evaluator-python-1:6927/1/v1/evaluate/",
              "evaluatorWs": "",
              "useReentrance": false
            },
            {
              "programmingLanguages": [
                "Z600"
              ],
              "evaluatorUri": "http://mediawiki-function-evaluator-javascript-1:6927/1/v1/evaluate/",
              "evaluatorWs": "",
              "useReentrance": false
            }
          ],
          "useWikidata": true,
          "wikidataImport": {
            "qualifiers": true,
            "references": true
          },
          "useBatching": true,
          "generateFunctionsMetrics": true,
          "addNestedMetadata": false
        }

  function-evaluator-python:
    image: docker-registry.wikimedia.org/repos/abstract-wiki/wikifunctions/function-evaluator/wasm-python3-all:latest
    # Un-comment this if you're using a local build, by running this in your check-out of the evaluator:
    # docker build -f .pipeline/blubber.yaml --target development-python3-all-wasm -t local-evaluator-py .
    # image: local-evaluator-py:latest
    ports:
      - 6928:6927
      - 9091:9090

  function-evaluator-javascript:
    image: docker-registry.wikimedia.org/repos/abstract-wiki/wikifunctions/function-evaluator/wasm-javascript-all:latest
    # Un-comment this if you're using a local build, by running this in your check-out of the evaluator:
    # docker build -f .pipeline/blubber.yaml --target development-javascript-all-wasm -t local-evaluator-js .
    # image: local-evaluator-js:latest
    ports:
      - 6929:6927
      - 9092:9090

  statsd-exporter:
    ports:
      - "9112:9112"
    image: docker.io/prom/statsd-exporter:v0.22.2
    command: "--web.listen-address=:9112"
