@import 'mediawiki.mixins';
@import './../../../lib/mediainfo-variables.less';

.wbmi-input {
	box-sizing: border-box;
	vertical-align: middle;

	&__wrapper {
		// Input wrapper should grow to fit the container.
		.flex( 1, 1, auto, 0 );
		// For proper positioning of icon, indicator, and lookup results.
		position: relative;
	}

	&__label {
		.wbmi-visually-hidden();
	}

	// Icon and indicator should be absolutely positioned and vertically
	// centered.
	&__icon,
	&__indicator {
		line-height: 1;
		padding-left: @wbmi-padding-horizontal-input-text;
		position: absolute;
		top: 50%;
		transform: translateY( -50% );
	}

	&__icon {
		padding-left: @wbmi-padding-horizontal-input-text;
	}

	&__indicator {
		color: @wbmi-indicator-color;
		cursor: pointer;
		padding-right: @wbmi-padding-horizontal-input-text;
		right: 0;

		.wbmi-icon {
			// Icon size is based on font size, so we'll set it here to make the
			// indicator smaller than the default font size.
			// Equal to 12px in ems.
			font-size: unit( @min-size-indicator / @wbmi-font-size-browser / @wbmi-font-size-base, em );
		}
	}

	&__input {
		.box-shadow( inset 0 0 0 1px transparent );
		.transition( ~'border-color 250ms, box-shadow 250ms' );
		background-color: @background-color-base;
		border: @border-width-base @border-style-base @border-color-base;
		border-radius: @border-radius-base;
		box-sizing: border-box;
		color: @color-base--emphasized;
		display: block;
		font-size: inherit;
		height: @wbmi-size-base;
		line-height: @wbmi-line-height-base;
		margin: 0;
		padding: @wbmi-padding-input-text;
		width: 100%;

		&::placeholder {
			color: @color-placeholder;
			opacity: 1;
		}

		// Non standard pseudo-element
		// Support: Internet Explorer 10, Internet Explorer 11, and Microsoft Edge.
		// For details see https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-clear
		&::-ms-clear {
			display: none;
		}

		&:focus {
			.box-shadow( @box-shadow-base--focus );
			border-color: @wmui-color-accent50;
			outline: 0;
		}

		&[ type='search' ] {
			// Support: Safari, Chrome (Blink).
			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button {
				display: none;
			}
		}
	}

	// Apply pending state mixin, which generates a moving striped background,
	// while autocomplete results are fetched.
	&--pending .wbmi-input__input {
		.wbmi-pending-state();
	}

	&--button {
		display: flex;

		// Remove the border radii between the input and the button.
		> .wbmi-input__wrapper .wbmi-input__input {
			flex: 1;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.wbmi-input__button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left-width: 0;
			height: @wbmi-size-base;
			line-height: @wbmi-line-height-base;
			margin: 0; // Undo Safari style.
		}
	}

	&:hover {
		&__input {
			border-color: @wbmi-border-color-input--hover;
		}
	}
}
